*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

#added by me
*.dir
*.pag
*.out
**/busco_downloads/**

#Sequences#
###########
*.faa
*.fna
*.fasta
*.fa
*.gff
*.fna
*.fastq

#Archives#
##########
*.gz*
*.tar

#Tree#
######
RAxML_bestTree.*

pkg/
src/

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

#Mapping#
#########
*.bam
*.bai

#Folders#
#########
**/00_assembly_raw/**
